.wrapper {
  display: grid;
  overflow: hidden;
  //justify-content: flex-start;
  //align-items: stretch;
  //height: fit-content;
  & > div:nth-child(even) {

    border-left: none;
  }

}

.wrapper * {
  font-family: "Inter", sans-serif;
  align-items: end;

}

.border {
  border: 1px solid #dddddd;
  border-bottom: none;

}


.line {
  display: flex;
}

.inner {
  display: grid;
  box-sizing: border-box;
  //align-items: baseline;
  align-items: stretch;
  height: 100%;

  & > div {
    border-bottom: none;
    //border-top: none;
  }

  & > div:first-child {
    border-left: none;
  }

  & > div:last-child {
    border-right: none;
  }

  & > div:nth-child(2) {
    border-left: none;
  }
}
