$danger-color8: rgba(244, 67, 54, .8);
$danger-color: rgb(244, 67, 54);
$danger-color1: rgba(244, 67, 54, .1);
$danger-gradient: radial-gradient(44.52% 78.13% at 50% 50%, rgba(255, 255, 255, 0) 0%, $danger-color1 100%);