@import "src/SASS/VarScreenSize";
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow-y: scroll;

}

tr, th {
  padding: 0;
  height: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}