.wrapper {
  top: 10%;
  left: 10%;
  outline: 1px solid #dddddd;
  border-radius: 12px;
  position: absolute;
  background-color: #fdfdfd;

  width: 80vw;
  min-height: 80vh;
  max-height: fit-content;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;

  .buttonsGroup {
    width: fit-content;
    height: fit-content;
  }
}

