.table {
  table {
    height: 1px;
    table-layout: fixed;
    width: fit-content;
  }

  td {
    min-height: 10px;

  }

  table, th, td {
    border: 1px solid #2E3B52;
    border-collapse: collapse;
  }

}
