.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  background: linear-gradient(272.17deg, #FCE000 30.73%, #FEED54 77.02%);
  border-radius: 15px;
  height: 54px;
}

.sum {
  min-width: 90px;
}
