.wrapper {

  //margin-right: 6px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dddddd;
  border-bottom: none;


  .subLine {
    display: flex;
    color: #2E3B52;

    input {
      font-size: 17px;
    }
  }

  .subLine {
    border-top: 1px solid #dddddd;

    & > div {
      border-top: none;
    }

    & > div:first-child {
      border-bottom: none;
    }

    & > div:nth-child(2) {
      border-bottom: none;
    }


    & > div:not(:last-child) {
      border-left: none;
    }

    & > div:not(:first-child) {
      border-right: none;
    }

  }

  input {
    color: #2E3B52;
    font-size: 18px;
  }

}

.borderInLine {
  border-top: none;
  border-left: none;

  /////FIX BUG
  //&:first-child {
  //  border-left: none;
  //  margin-right: 1px;
  //}
  //
  //&:last-child {
  //  border-right: none;
  //}

}

.small {
  font-size: 14px;

  input {
    font-size: 14px;

  }
}

.line {
  display: flex;
}