.wrapper {

  //margin-right: 6px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dddddd;
  border-bottom: none;
  &:not(:first-child){
    border-left: none;
  }
  input {
    font-size: 18px;
  }

  .sub {
    & > div:not(:last-child){
      border-left: none;
    }
    & > div:not(:first-child){
      border-right: none;
    }
    font-size: 12px;
    display: flex;
    color: #2E3B52;

    input {
      color: #2E3B52;
      font-size: 12px;
    }
  }
}

.small {
  font-size: 14px;

  input {
    font-size: 14px;

  }
}

.line {
  display: flex;
}