.wrapper {
  height: fit-content;
  display: grid;
  //border: 1px solid #dddddd;
  //border-top: none;
  //& > div:not(:last-child){
  //  border-left: none;
  //}
  //& > div:last-child{
  //  border-right: none ;
  //}
//  & > div {
//border-left: ;
//  }


}

.wrapperLaunch {

}

.deleteLine::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  width: calc(100% - 42px);
  height: 2px;
  background-color: #1c1c1c;
}

.allLine {
  background-color: #F4F7FC;
}

.newLine {
  background-color: #FFE1E1;
}