.wrapper {
  height: fit-content;
  display: grid;
  position: relative;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

  & > div:last-child {
border-right: none;
  }
}

.line {
  display: flex;
  width: fit-content;
  overflow: hidden;
  position: relative;
}

.buttonsSection {
  display: flex;
  flex-wrap: nowrap;
}

.deleteLine::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  width: calc(100%);
  height: 2px;
  background-color: #1c1c1c;
}

.allLine {
  background-color: #F4F7FC;
}

.newLine {
  background-color: #FFE1E1;
}