@import './src/SASS/Variables';

.wrapper {
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
  border: none;
  color: aliceblue;
  background-color: #fff;
  height: fit-content;
  width: fit-content;
  font-size: 14px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;

}

.blue {
  background-color: #539EF8;
}

.white {
  color: #1c1c1c;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.gray {
  background-color: gray;
  color: #ffffff;
}

.danger {
  border: 1px solid $danger-color8;
  color: $danger-color8;
  background-color: inherit;
  font-weight: 600;
  letter-spacing: .1rem;
  transition: .1s;

  &:hover {
    background: $danger-gradient;
    border-color: $danger-color;
    color: $danger-color;
  }
}
.small{
  padding: 2px 3px;
  font-size: 13px;
}
