.wrapper{
  max-padding: 10px;
  //border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  color: aliceblue;
  background-color: #fff;
  height: auto;
  width: auto;
  font-size: 14px;
}
.blue{
  background-color: #539EF8;
}